*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: black;
    /* display: flex; */
    z-index: -1;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.panel{
    width: 100%;
    z-index: 5;
    height: 41px;
    /* outline: 2px solid red; */
    position: relative;
    display: flex;
}


.panel .list-ray{
    margin-left: 54%;
    padding: 10px;
    list-style-type: none;
    margin-top: -1%;
    display: flex;
    /* z-index: 3; */
}

.panel .list-ray li{
    padding: 15px;
}

.panel .list-ray a{
    text-decoration: none;
    color: #fff;
}

.panel .list-ray a:hover{
    color: #4682B4;
}

.panel .burg-menu{
    /* outline: 2px solid red; */
    margin-top: 12px;
    position: relative;
    display: none;
}

.panel .burg-menu:hover .lint{
    display: block;
}

.panel .burg-menu .div{
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
}

.panel .burg-menu .divi{
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin-top: 5px;
    border-radius: 4px;
}

.lint{
    width: 100px;
    height: 120px;
    background-color: #fff;
    position: absolute;
    top: 80%;
    padding: 13px;
    border-radius: 3px;
    display: none;
}

.lint .list-ay{
    list-style-type: none;
}

.lint .list-ay li{
    padding: 4px;
}

.lint .list-ay a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.lint .list-ay a:hover{
    color: #4682B4;
}


.row-contain{
    /* outline: 2px solid red; */
    margin-left: 15%;
    width: 60%;
    display: flex;
    z-index: 5;
}

.row-contain .lleft{
    margin-top: 34%;
    margin-left: 3%;
    width: 44%;
    height: 80px;
    padding: 10px;
    z-index: 3;
    /* outline: 2px solid red; */
}

.row-contain .lleft .text{
    /* outline: 2px solid red; */
    width: 440px;
}

.row-contain .lleft .text h3{
    line-height: 42px;
     background: linear-gradient(to right, #4682B4 22%, white );
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* color: #fff; */
    font-size: 36px;
}

.row-contain .lleft .nishe{
    margin-top: 6%;
}

.row-contain .lleft .nishe p{
    font-size: 18px;
    /* outline: 2px solid green; */
    color: #fff;
    /* font-size: 17px; */
}


.row-contain .rright{
    width: 30%;
    margin-top: 34%;
    border-left: 3px solid #4682B4;
    height: 240px;
    z-index: 3;
    margin-left: 15%;
}


.row-contain .rright .butons{
    margin-top: 40%;
}

.row-contain .rright .butons button{
    padding: 10px 14px;
    border: 1px solid #000;
    border-radius: 25px;
    background-color: #4682B4;
    font-weight: 600;
    font-size: 14px;
    margin-top: 6%;
    margin-left: 7%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.row-contain .rright .butons button:hover{
    /* transform: translate(-5px, -5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    background-color: white;
    transform: scale(1.05);
}

.row-contain .rright img{
    width: 250px;
    height: 150px;
    border-radius: 15px;
    background-size: cover;
}


@media only screen and (min-width: 350px) and (max-width: 450px) {

    body{

    width: 100%;
    background-color: black;
    /* overflow: hidden; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.panel{
    width: 60%;
    /* outline: 2px solid red; */
}

.panel .list-ray{
    margin-left: 5%;
    padding: 10px;
    list-style-type: none;
    margin-top: 2%;
    display: none;
    width: 100%;
    /* outline: 2px solid red; */
    /* z-index: 3; */
}

.panel .list-ray a{
    font-size: 13px;
}

.panel .list-ray a:hover{
    color: red;
}

.panel .burg-menu{
    display: block;
    margin-left: 12%;
}

.row-contain{
    /* outline: 2px solid green; */
    margin-left: 10%;
    width: 80%;
    display: block;
    z-index: 5;
    margin-top: 9%;
}

.row-contain .lleft{
    margin-top: 34%;
    margin-left: 2%;
    width: 35%;
    height: 80px;
    padding: 10px;
    z-index: 3;
    /* outline: 2px solid red; */
}

.row-contain .lleft .text{
    /* outline: 2px solid red; */
    width: 260px;
}

.row-contain .lleft .text h3{
    line-height: 32px;
    background: linear-gradient(to right, #4682B4 22%, white );
    background-clip: text;
    z-index: 3;
    -webkit-text-fill-color: transparent; 
    margin-left: 4%;
    font-size: 20px;
    
}

.row-contain .lleft .nishe p{
    font-size: 13px;
    width: 220px;
    color: #fff;
    line-height: 25px;
    margin-left: 12%;
    
}

.row-contain .rright{
    width: 15%;
    margin-top: 50%;
    border:none;
    height: 200px;
    z-index: 3;
    margin-left: 15%;
    /* outline: 2px solid green; */
}


.row-contain .rright .butons{
    margin-top: 40%;
    display: flex;
    /* outline: 2px solid green; */
    margin-left: -7%;
}

.row-contain .rright .butons button{
    padding: 6px 17px;
    border: 1px solid #000;
    border-radius: 25px;
    background-color: #4682B4;
    font-weight: 600;
    font-size: 10px;
    margin-top: 6%;
}
}